<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="MyMobileService Logo"
    src="../assets/phone_logo.png"
  />
  <span>Welcome to MyMobileService!</span>
    <div class="spacer"></div>
    <a aria-label="Login" target="_blank" rel="noopener" href="https://localhost:4200/login" title="Login Here">
      <img src="../assets/login_logo.png" height="42" width="42">
      <svg id="login-logo" height="42" src="../assets/login_logo.png" viewBox="0 0 400 400"> 
        <rect width="400" height="400" fill="none"/>
        
      </svg>
    </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <img src = "../assets/phone_logo.png" height="32" width="32">

    <span>{{ title }} connecting your world!</span>

  </div>

  <!-- Resources -->
  <h2>New Deals!</h2>
  <p>New Customer? <br/> Here are some deals to help you get started:</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://https://localhost:4200/new-cx">
      
      <span>Phone and Plan Deals</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" target="_blank" rel="noopener" href="https://https://localhost:4200/new-cx-phones">
      
      <span>Phones Only</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://localhost:4200/new-cs-lines">
      
      <span>Bring Your Old Phone!<br/> (Plans Only)</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>

  <!-- Next Steps -->
  <h2>Existing Customers</h2>
  <p>What do you want to do your account?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'new-lines'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Line(s)</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'new-phones'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Phone</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'pay-bill'" tabindex="0">
      
      <span>Pay Bill</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'change-plans'" tabindex="0">
      
      <span>Change Plans</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'cancel-lines'" tabindex="0">
      
      <span>Cancel Line(s)</span>
    </button>
  </div>  

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Login Here!" href="https://localhost:4200/login" target="_blank" rel="noopener">
      <img src="../assets/login_logo.png"  width="35">
      <svg xmlns="http://www.w3.org/2000/svg" width="24.607" height="23.447" viewBox="0 0 24.607 23.447">
        <title>Login Here!</title>
        <path id="login_logo"  transform="translate(0 0.123)" fill="#f64060"/>
      </svg>
    </a>

    <a class="circle-link" title="Join Our Team!" href="https://localhost:4200/careers" target="_blank" rel="noopener">
      <img src="../assets/careers_logo.png" height="42" width="42">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 245 240">
        <title>Careers Logo</title>
        
        <path id="careers_logo" transform="translate(0 0.123)" fill="#f64060"/>
      </svg>
    </a>
  </div>

  <!-- Footer -->
  <footer>
      Love This Site?&nbsp;
      <a href="https://github.com/JasonHarrisStormer/MyMobileService" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/JasonHarrisStormer/MyMobileService" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>
</div>

<router-outlet></router-outlet>
