<body>

    <div class="ui-header">
        <h1>
            iPhone 14 IS HERE!
        </h1>
    </div>
    <h2 class="ui-header">iPhone 14 Pro Dimensions</h2>
    <div class="ui-header">
        <img src="../../assets/14_pro_measurement.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">iPhone 14 Pro Max Dimensions</h2>
    <div class="ui-header">
        <img src="../../assets/14_pro_max_measurement.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">Titanium Frame</h2>
    <div class="ui-header">
        <img src="../../assets/iPhone-14-Mock-pill-and-hole.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">Multiple Colors</h2>
    <p class="ui-header">Includes White, Black, Rose Gold, AND...</p>
    <div class="ui-header">
        <img src="../../assets/iPhone_14_Purple_Feature.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">It also comes in PURPLE!</h2>
    <div class="ui-header">
        <img src="../../assets/iPhone_14_Pro_Purple.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">120hz Pro Motion is also available!</h2>
    <div class="ui-header">
        <img src="../../assets/14_120hz_pro_motion_blue.jpg" width="900px">
    </div><br/>
    <a href="http://localhost:4200/phoneselection">
        <div class="ui-header"><button id="button" (click)="addIphone14()" class="btn btn-success">Add an iPhone 14<br/> to your account <br/> Now</button></div>
        </a>

</body>
