<h1 [ngStyle]="{display:'flex',justifyContent:'center' }">Manage Lines</h1>
<!-- <div class="container"><p>diplay user's lines here?</p></div> -->
<div class="container" *ngIf="!value">
  <div class="card-small">
    <label for="callerIdName">Current Bill:</label>
    <h4 name="callerIdName">${{total}}</h4>
  </div>

  <!-- <h2>How Many New Lines Would You Like To Add?</h2> -->
  <button [ngStyle]="{'background-color': 'green', 'color': 'white'}" class="card"
    (click)="onButtonClickIncrement()">Add</button>
  <h1 class="card">{{numOfLines}} New Line(s) Added</h1>
</div>

<div class="container" *ngFor="let line of userLines" >
  <div class="card-small">
    <label for="accountId">Account Id:</label>
    <h4 name="accountId">{{line.accountid}}</h4>
  </div>

  <div class="card-small">
    <label for="callerIdName">Caller Id:</label>
    <h4 name="callerIdName">{{line.calleridname}}</h4>
  </div>

  <div class="card-small">
    <label for="phoneId">Phone Id:</label>
    <h4 name="phoneId">{{line.phoneid}}</h4>
  </div>

  <div class="card-small">
    <label for="phoneNumber">Phone Number:</label>
    <h4 name="phoneNumber" class="card-small">{{line.phonenumber}}</h4>
  </div>

  <div class="card-small">
    <label for="plan">Plans:</label>
    <h4 name="plan" class="card-small">{{line.plan}}</h4>
  </div>

  <div class="card-small">
    <label for="remPhoneBal">Remaining Phone Balance:</label>
    <h4 name="remPhoneBal">{{line.remphonebal}}</h4>
  </div>
</div>
  
  <div class="container" *ngIf="numOfLines >=1">
    <h2>Are you sure you want to add {{numOfLines}} New Line(s)?</h2>
    <button class="card" (click)="addNewLines()">Yes</button>
    <button class="card" (click)="undoAddNewLines()">No</button>
  </div>
<div>
  <app-lines-form *ngIf="value" [planPrice]="planPrice" [phonePrice]="phonePrice"
  ></app-lines-form>

</div>

<!-- <p>redirect to plans page to associate your lines with a plan??</p> -->