<div id="registration-form">
  <div class='fieldset'>
    <!-- <legend>Enter your information</legend> -->
    <form [formGroup]="myForm" data-validate="parsley">
      <!-- <div class='row'>
        <label for="phoneNumber">Phone Number</label>
        <input placeholder="Phone Number"id="phoneNumber" type='text' phoneNumber="phoneNumber" formControlName="phoneNumber"  data-error-message="Your phone number is requried" />
      </div>
      <div class='row'>
        <label for="accountId">Account Id</label>
        <input placeholder="Account Id"id="accountId" type="text" accountId="accountId" formControlName="accountId" data-error-message="Your First Name is requried" />
        </div> 
       <div class='row'>
        <label for="plan">Plan</label>
        <input type="text" placeholder="Plan Type"  plan='plan' data-required="true" data-type="plan" data-error-message="Your Last Name is required">
      </div>
      <div class='row'>
        <label for="phoneId">Phone Id</label>
        <input type="text" placeholder="Phone Id"  phoneId='phoneId' data-required="true" data-type="phoneId" data-error-message="Your Phone Id is required">
      </div>
      <div class='row'>
        <label for="callerIdName">Caller Id Name</label>
        <input type="text" placeholder="Caller Id"  callerIdName='callerIdName' data-required="true" data-type="callerIdName" data-error-message="Your Caller Id name is required">
      </div> -->
     
      <input (click)="addPhoneLine()" type="submit" value="Continue">
    </form>
  </div>
  </div>
