<div>
    <div>
        <label for="oId">Email/ID: </label>
        <span id="oId">{{ account.email }}</span>
    </div>
    <div>
        <label for="ophoneMe">Main Number: </label>
        <span id="ophoneMe">{{ account.phoneMe }}</span>
    </div>
    <div>
        <label for="oFirstName">First Name: </label>
        <span id="oFirstName">{{ account.firstName }}</span>
    </div>
    <div>
        <label for="oLastName">Last Name: </label>
        <span id="oLastName">{{ account.lastName }}</span>
    </div>
    <div>
        <label for="oAddressMe">Address : </label>
        <span id="oAddressMe">{{ account.addressMe }}</span>
    </div>
    <div>
        <label for="oAddressMe2">Address 2: </label>
        <span id="oAddressMe2">{{ account.addressMe2 }}</span>
    </div>
    <div>
        <label for="oCityMe">City: </label>
        <span id="oCityMe">{{ account.cityMe }}</span>
    </div>
    <div>
        <label for="oStateMe">State: </label>
        <span id="oStateMe">{{ account.stateMe }}</span>
    </div>
    <div>
        <label for="oZipCodeMe">Zip Code: </label>
        <span id="oZipCodeMe">{{ account.zipCodeMe }}</span>
    </div>
    <div>
        <label for="oPhones">Phones: </label>
        <span id="oPhones">{{ account.phones }}</span>
    </div>
</div>