<body>

    <div class="ui-header">
        <h1>
            iPhone 13 Deal for All Customers!
        </h1>
    </div>
    <h2 class="ui-header">Sleek Design</h2>
    <div class="ui-header">
        <img src="../../assets/iphone-13-pro-camera-lineup.webp" width="900px">
    </div><br/>
    <h2 class="ui-header">Multiple Colors</h2>
    <p class="ui-header">Includes Graphite, Gold, Silver and Sierra Blue! Get a bigger screen if you upgrade to a Pro Max!</p>
    <div class="ui-header">
        <img src="../../assets/iphone-13-pro-models-sizes.webp" width="900px">
    </div><br/>
    <h2 class="ui-header">Upgrade to a Pro Max for only $?? More!</h2>
    <div class="ui-header">
        <img src="../../assets/iphone-13-pro-display-sizes.webp" width="900px">
    </div><br/>
    <h2 class="ui-header">Triple-Lens Rear Camera System</h2>
    <div class="ui-header">
        <img src="../../assets/iphone-13-pro-camera-lenses-specs.webp" width="900px">
    </div><br/>
    <div class="ui-header"><button id="button" (click)="addIphone13()" class="btn btn-success">Add an iPhone 13<br/> to your account <br/> Now</button></div>


</body>

