<h1 >New Phones!</h1><br/>
<div class="phone-card-container">
  <a class="phone-card" href="http://localhost:4200/iphone14">
    <div>
      <img src="../../assets/iPhone_13_Pro_Side.jpg" height="75"> &nbsp;iPhone 14
    </div>
    
  </a>

  <a class="phone-card" href="http://localhost:4200/s23">
    <div>
      <img src="../../assets/s23_ultra.jpg" height="75"> &nbsp;Samsung S23
    </div>    
  </a>

  <a class="phone-card" href="http://localhost:4200/s22">
    <div>
      <img src="../../assets/SmallHoldingPhone.jpg" height="80"> &nbsp;Samsung S22
    </div>   
  </a>

</div>
