
<body>
    <h1 class="ui-header">Welcome to MyMobileService!</h1>
    <h4 class="ui-header"> We are pleased you have chosen us for your mobile servies needs!</h4>
    <h4 class="ui-header">(Items with * are required)</h4>

    <div class="ui-header">
        <form [formGroup]="myForm">
            <div class="entryline"><label for="email">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="email" type='text' email="email" formControlName='email'/></div>
            <div class="entryline"><label for="phoneMe">Phone :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="phoneMe" type='number' city="naphoneMe" formControlName="phoneMe"/></div>
            <div class="entryline"><label for="firstName">First Name :*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="firstName" type='text' firstName="firstName" formControlName='firstName'/></div>
            <div class="entryline"><label for="lastName">Last Name :*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="lastName" type='text' lastName="lastName" formControlName='lastName'/></div>
            <div class="entryline"><label for="addresserMe">Address 1 :* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="addresserMe" type='text' address1="naaddresserMe" formControlName="addresserMe"/></div>
            <div class="entryline"><label for="addresserMe2">Address 2 :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="addresserMe2" type='text' address2="naaddresserMe2" formControlName="addresserMe2"/></div>
            <div class="entryline"><label for="cityMe">City :*&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="cityMe" type='text' city="nacityMe" formControlName="cityMe"/></div>
            <div class="entryline"><label for="stateMe">State : *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="stateMe" type='text' state="nastateMe" formControlName="stateMe"/></div>
            <div class="entryline"><label for="zipCodeMe">Zip Code : *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="zipCodeMe" type='number' zipCode="nazipCodeMe" formControlName="zipCodeMe"/></div>
            <br/>
            <div class="ui-header"><button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Submit</button></div>
          </form>

    </div>
</body>

