<div class="container">


  <form id="modelform" class="dropdown">
    <select width=300 style="width: 350px" [(ngModel)]="selected" [ngModelOptions]="{standalone: true}" class="card">
      <option value='iphone14'>iPhone 14</option>
      <option value='samsung s23'>Samsung S23</option>
      <option value='samsung s22'>Samsung S22</option>
      <option value='samsung galaxy a53'>Samsung Galaxy A53</option>
      <option value='iphone 13 pro'>iPhone 13 Pro</option>
      <option value='iphone 13 pro max'>iPhone 13 Pro Max</option>
      <option value='' selected>Select Phone Model</option>
    </select>
  </form>



  <div *ngIf="selected=='iphone14'" class="dropdown" >
    <form id="colorform">
      <select width=300 style="width: 350px" class="card" 
     (change)="getColor($event)"
      >
        <option value='i14-white'>White</option>
        <option value='i14-black'>Black</option>
        <option value='i14-rosegold'>Rose Gold</option>
        <option value='i14-purple'>Purple</option>
        <option value='' selected>Select Color</option>
      </select>

    </form>

    
    <form id="memoryform">
      <select width=300 style="width: 350px" class="card" (change)="cost($event)">
        <!--<option value='128GB'>128 GB</option>-->  <!--commented due to not in stock-->
        <option value='780'>256 GB $780.00</option>
        <option value='860'>512 GB $860.00</option>
        <!--<option value='1TB'>1 TB</option>-->  <!--commented due to not in stock-->
        <option value='' selected>Select Storage Amount</option>
      </select>

    </form>
   
    
  </div>


  <div *ngIf="selected=== 'samsung s23'" class="dropdown">
    <form id="colorform">
      <select width=300 style="width: 350px" class="card"
      (change)="getColor($event)">
        <option value='s23-white'>Phantom White</option>
        <option value='s23-black'>Phantom Black</option>
        <option value='s23-burgundy'>Burgundy</option>
        <option value='s23-green'>Green</option>
        <option value='' selected>Select Color</option>
      </select>
    </form>

    <form id="memoryform">
      <select width=300 style="width: 350px" class="card" (change)="cost($event)">
        <!--<option value='128GB'>128 GB</option>-->  <!--commented due to not in stock-->
        <option value='900'>256 GB $900.00</option>
        <option value='1049'>512 GB $1049.00</option>
        <!--<option value='1TB'>1 TB</option>-->  <!--commented due to not in stock-->
        <option value='' selected>Select Storage Amount</option>
      </select>
    </form>
  </div>

  <div *ngIf="selected=== 'samsung s22'" class="dropdown">
    <form id="colorform">
      <select width=300 style="width: 350px" class="card"
      (change)="getColor($event)">
        <option value='s22-phantomwhite'>Phantom White</option>
        <option value='s22-phantomblack'>Phantom Black</option>
        <option value='s22-pinkgold'>Pink Gold</option>
        <option value='s22-green'>Green</option>
        <option value='' selected>Select Color</option>
      </select>
    </form>

    <form id="memoryform">
      <select width=300 style="width: 350px" class="card" (change)="cost($event)">
        <option value='600'>128 GB $600.00</option>
        <option value='834'>256 GB $834.00</option>
        <option value='' selected>Select Storage Amount</option>
      </select>
    </form>
  </div>

  <div *ngIf="selected=== 'iphone 13 pro'" class="dropdown">
    <form id="colorform">
      <select width=300 style="width: 350px" class="card"
      (change)="getColor($event)">
        <option value='i13-proalpinegreen'>Alpine Green</option>
        <option value='i13-prosilver'>Silver</option>
        <option value='i13-prosierrablue'>Sierra Blue</option>
        <option value='i13-progold'>Gold</option>
        <option value='i13-prographite'>Graphite</option>
        <option value='' selected>Select Color</option>
      </select>
    </form>

    <form id="memoryform">
      <select width=300 style="width: 350px" class="card" (change)="cost($event)">
        <!--<option value='128GB'>128 GB</option>-->  <!--commented due to not in stock-->
        <option value='799'>256 GB $799.00</option>
        <option value='999'>512 GB $999.00</option>
        <!--<option value='1TB'>1 TB</option>-->  <!--commented due to not in stock-->
        <option value='' selected>Select Storage Amount</option>
      </select>
    </form>
  </div>

  <div *ngIf="selected=== 'samsung galaxy a53'" class="dropdown">
    <form id="colorform">
      <select width=300 style="width: 350px" class="card"
      (change)="getColor($event)">
        <option value='a53-blue'>Blue</option>
        <option value='a53-peach'>Peach</option>
        <option value='a53-black'>Black</option>
        <option value='a53-white'>White</option>
        <option value='' selected>Select Color</option>
      </select>
    </form>

    <form id="memoryform">
      <select width=300 style="width: 350px" class="card" (change)="cost($event)">
        <option value='259'>128 GB $259.00</option>
        <option value='389'>256 GB $389.00</option>
        <option value='' selected>Select Storage Amount</option>
      </select>
    </form>
  </div>

  <div *ngIf="selected=== 'iphone 13 pro max'" class="dropdown">
    <form id="colorform">
      <select width=300 style="width: 350px" class="card"
      (change)="getColor($event)">
        <option value='i13-promaxalpinegreen'>Alpine Green</option>
        <option value='i13-promaxsilver'>Silver</option>
        <option value='i13-promaxsierrablue'>Sierra Blue</option>
        <option value='i13-promaxgold'>Gold</option>
        <option value='i13-promaxgraphite'>Graphite</option>
        <option value='' selected>Select Color</option>
      </select>
    </form>

    <form id="memoryform">
      <select width=300 style="width: 350px" class="card" (change)="cost($event)">
        <!--<option value='128GB'>128 GB</option>-->  <!--commented due to not in stock-->
        <option value='899'>256 GB $899.00</option>
        <option value='1099'>512 GB $1099.00</option>
        <!--<option value='1TB'>1 TB</option>-->  <!--commented due to not in stock-->
        <option value='' selected>Select Storage Amount</option>
      </select>
    </form>


    
  </div>
 
  
</div>

<div *ngIf="color == 'i14-white'&& selected=='iphone14'" id="iphone14">
  <img src="../../assets/large_apple-iphone-14-pro-max_3.jpg" width="200px">
</div>
<div *ngIf="color == 'i14-black'&& selected=='iphone14'" id="iphone14">
  <img src="../../assets/iPhone-14-Pro-Max-3.jpg" width="300px">
</div>
<div *ngIf="color == 'i14-rosegold'&& selected=='iphone14'" id="iphone14">
  <img src="../../assets/rosegoldiphone14.jpg" width="200px">
</div>
<div *ngIf="color == 'i14-purple'&& selected=='iphone14'" id="iphone14">
  <img src="../../assets/14-Pro-MAX-BackPURPLE.jpg" width="200px">
</div>

<div *ngIf="color == 's22-phantomwhite'&& selected=== 'samsung s22'" id="s22">
  <img src="../../assets/samsungs22phantomwhite.jpg" width="200px">
</div>
<div *ngIf="color == 's22-phantomblack'&& selected=== 'samsung s22'" id="s22">
  <img src="../../assets/samsungs22phantomblack.jpg" width="200px">
</div>
<div *ngIf="color == 's22-pinkgold'&& selected=== 'samsung s22'" id="s22">
  <img src="../../assets/samsungs22pinkgold.jpg" width="200px">
</div>
<div *ngIf="color == 's22-green'&& selected=== 'samsung s22'" id="s22">
  <img src="../../assets/samsungs22green.jpg" width="200px">
</div>
  
<div *ngIf="color == 'a53-blue'&& selected=== 'samsung galaxy a53'" id="a53">
  <img src="../../assets/samsunggalaxya53-blue.jpg" width="200px">
</div>
<div *ngIf="color == 'a53-peach'&& selected=== 'samsung galaxy a53'" id="a53">
  <img src="../../assets/samsunggalaxya53-peach.jpg" width="200px">
</div>
<div *ngIf="color == 'a53-black'&& selected=== 'samsung galaxy a53'" id="a53">
  <img src="../../assets/samsunggalaxya53-phantomblack.jpg" width="200px">
</div>
<div *ngIf="color == 'a53-white'&& selected=== 'samsung galaxy a53'" id="a53">
  <img src="../../assets/samsunggalaxya53-phantomwhite.jpg" width="200px">
</div>

<div *ngIf="color == 'i13-proalpinegreen'&& selected=== 'iphone 13 pro'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-green-2022.jpg" width="200px">
</div>
<div *ngIf="color == 'i13-prosilver'&& selected=== 'iphone 13 pro'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-silver-09142021.jpg" width="200px">
</div>
<div *ngIf="color == 'i13-prosierrablue'&& selected=== 'iphone 13 pro'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-sierra-blue-09142021.jpg" width="200px">
</div>
<div *ngIf="color == 'i13-progold'&& selected=== 'iphone 13 pro'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-gold-09142021.jpg" width="200px">
</div>
<div *ngIf="color == 'i13-prographite'&& selected=== 'iphone 13 pro'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-graphite-09142021.jpg" width="200px">
</div>

<div *ngIf="color == 'i13-promaxalpinegreen'&& selected=== 'iphone 13 pro max'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-green-2022.jpg" width="300px">
</div>
<div *ngIf="color == 'i13-promaxsilver'&& selected=== 'iphone 13 pro max'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-silver-09142021.jpg" width="300px">
</div>
<div *ngIf="color == 'i13-promaxsierrablue'&& selected=== 'iphone 13 pro max'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-sierra-blue-09142021.jpg" width="300px">
</div>
<div *ngIf="color == 'i13-promaxgold'&& selected=== 'iphone 13 pro max'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-gold-09142021.jpg" width="300px">
</div>
<div *ngIf="color == 'i13-promaxgraphite'&& selected=== 'iphone 13 pro max'" id="i13pro">
  <img src="../../assets/apple-iphone-13-pro-graphite-09142021.jpg" width="300px">
</div>

<div *ngIf="color == 's23-black'&& selected=== 'samsung s23'" id="s23">
  <img src="../../assets/samsung-galaxy-s22-ultra-phantomblack.jpg" width="200px">
</div>
<div *ngIf="color == 's23-white'&& selected=== 'samsung s23'" id="s23">
  <img src="../../assets/samsung-galaxy-s22-ultra-phantomwhite.jpg" width="200px">
</div>
<div *ngIf="color == 's23-burgundy'&& selected=== 'samsung s23'" id="s23">
  <img src="../../assets/samsung-galaxy-s22-ultra-burgundy.jpg" width="200px">
</div>
<div *ngIf="color == 's23-green'&& selected=== 'samsung s23'" id="s23">
  <img src="../../assets/samsung-galaxy-s22-ultra-green.jpg" width="200px">
</div>

<div class="ui-header"><button
  (click)="submit()"
    type="submit" 
    id="button"
  class="btn btn-success" id="button">Submit</button></div>
