.container {
  background: #c0c0c0b0;
  margin: 5px;
  padding: 20px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
 width: auto;
}
body{
  background:#b4b4b4;
}



.container.reminder {
  border-left: 5px solid green;
}

.dropdown{
  display:flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
 
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  
  
  .card svg.material-icons path {
    fill: #888;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  
  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #2980b9;
    background:#5C8CA7;
    height: 20px;
    width: 200px;
    margin: 5px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
    color: white;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }

  #iphone14{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  #s22{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  #s23{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  #a53{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  #i13pro{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }