<body>

    <div class="ui-header">
        <h1>
            Galaxy A53 Deal for New Customers!
        </h1>
    </div>
    <h2 class="ui-header">Water-resistant Design</h2>
    <div class="ui-header">
        <img src="../../assets/Samsung-Galaxy-A53-5G-Waterproof-Test.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">Multiple Colors</h2>
    <p class="ui-header">Comes in Blue, Peach, Black, and White!</p>
    <div class="ui-header">
        <img src="../../assets/Samsung-Galaxy-A53-5G-1000x576.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">Multiple-lens Camera System</h2>
    <div class="ui-header">
        <img src="../../assets/Galaxy-A53.jpg" width="900px">
    </div><br/>
   


</body>