<!-- will hold the details of an account -->
<!-- renders only if the account exists -->
<div *ngIf="account">
    <div>
        <label for="oEmail">Email: </label>
        <span id="oEmail">{{ account.email }}</span>
    </div>
    <div>
        <label for="oFirstName">First Name: </label>
        <span id="oFirstName">{{ account.firstname }}</span>
    </div>
    <div>
        <label for="oLastName">Last Name: </label>
        <span id="oLastName">{{ account.lastname }}</span>
    </div>
    <div>
        <label for="oAddressMe">Address 1: </label>
        <span id="oAddressMe">{{ account.address }}</span>
    </div>
    <div>
        <label for="oAddressMe2">Address 2: </label>
        <span id="oAddressMe2">{{ account.address2 }}</span>
    </div>
    <div>
        <label for="oCityMe">City: </label>
        <span id="oCityMe">{{ account.city }}</span>
    </div>
    <div>
        <label for="oStateMe">State: </label>
        <span id="oStateMe">{{ account.state }}</span>
    </div>
    <div>
        <label for="oZipCodeMe">Zip Code: </label>
        <span id="oZipCodeMe">{{ account.zipcode }}</span>
    </div>
    <div>
        <label for="oZipCodeMe">Zip Code: </label>
        <span id="oZipCodeMe">{{ account.zipcode }}</span>
    </div>
</div>