<div>

  <h2 id="customerOwe" class="ui-header">You Currently Owe:</h2>
  <h2 id="cusomterBillTotal" class="ui-header">USD ${{customerBillTotal}}</h2>

  <h2 class="ui-header">Enter the amount you wish to pay.</h2>
  <div class="ui-header">
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$&nbsp;&nbsp;</label>
    <input (keyup)="onKey($event)" type="text" placeholder="Enter Amount" />
  </div>
  <form><br/>
    
    <p class="ui-header">
      <label for="phoneNumber"> Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="text" id="phoneNumber" name="phoneNumber" >
    </p>
    
    <p class="ui-header">
      <label for="firstName">First Name : &nbsp;</label>
      <input type="text" id="firstName" name="firstName">
    </p>
    <p class="ui-header">
      <label for="lastname">Last Name : &nbsp;&nbsp;</label>
      <input type="text" id="lastname" name="lastname" >
    </p>
    
    <!-- <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email">
    </p> -->
    
    
    
    <p class="ui-header">
      <button (click)="onClickPayBill()" type="submit" >Pay Bill</button>
    </p>
    
  </form>
  
  
</div>