<h4 class="ui header">Plans</h4>
<div class="row">
  <div class="column" *ngFor="let plan of plans">
    <div class="card-container">
      <a class="card">
    <table>

      <tr>
        {{plan.type}}

      </tr>
      <tr>

        {{plan.price}}
      </tr>
      <tr>

        {{plan.properties}}
      </tr>
      <tr>

        {{plan.access}}
      </tr>
      <tr>

        {{plan.hotspot}}
      </tr>
      <tr>
        {{plan.text}}

      </tr>
      <tr>
        {{plan.streaming}}

      </tr>

      <button (click)="onButtonClick(plan)">Get Started</button>
    </table>
  </a>
    </div>
  </div>

</div>


