<body>

    <div class="ui-header">
        <h1>
            SAMSUNG S23 IS HERE!
        </h1>
    </div>
    <h2 class="ui-header">Comes in Phantom White, Pink Gold, Phantom Black, and Green</h2>
    <div class="ui-header">
        <img src="../../assets/s23_colors.jpg" width="900px">
    </div>
    <h2 class="ui-header">Comes with stylus so you don't get Cheetos all over the screen</h2>
    <div class="ui-header">
        <img src="../../assets/S23_front.jpg" width="900px">
    </div><br/>
    <h2 class="ui-header">Improved Camera for taking videos of the end of the world!</h2>
    <div class="ui-header">
        <img src="../../assets/S23.jpg" width="900px">
    </div><br/>
    <div class="ui-header"><button id="button" (click)="addS23()">Add an S23<br/> to your account <br/> Now</button></div>
</body>
