<div id="registration-form">
<form [formGroup]="LoginForm" data-validate="parsley">
        <div class="fieldset">

            <div class="Signintitle">
                <h2>Sign in</h2>
            </div>

            <div class="row">
                <label for="Username"></label>
               <input type="text" formControlName="userName" id="Username" placeholder="Enter Username" />
            </div>

            <div class="row">
                <label for="Password"></label>
                <input type="password" formControlName="passWord" id="Password" placeholder="Enter Password"  />
            </div>

            <button id="button" (click)="submitLogin()">Log In</button>
            
            <a href="http://localhost:4200/new-cx" class="ui-header">Create Account</a>
            <a href="http://localhost:4200/forgot-pass" class="ui-header">Forgot Password</a>
        </div>
    </form>
</div>
